body{
  font-family: "Times New Roman", Times, serif;
  display: flex;
  background-color: #1c4421;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  margin: 0;
}
#maincontainer{
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
.betting-table{
  width: 320px;
}
.token{
  width: 24.15px;
  opacity: 0%;
}
.clicked{
  opacity: 100%;
}
img.token:hover{
  opacity: 80%;
}
.flexcontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tokens-display{
  position: absolute;
  top:0;
  left:0;
}
.columncontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#asztal{
  position: absolute;
  top:0;
  left:0;
  width: 312px;
  height: 900px;
}
.balszel{
  height: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 18px;
  padding-right: 30px;
  justify-content: space-between;
}
.tablazat{
  border-collapse: collapse;
  margin-left: 5px;
}
table img.token{
  padding-right:6.3px;
  padding-top: 0.6px;
}
.nullak{
  margin-top: 40px;
  margin-bottom: 22px;
  width: 120px;
  justify-content:space-between;
}
.oszlopok{
  margin-top: 30px;
  justify-content:space-between;
  width: 150px;
}

.kerek-div{
  height: 900px;
  justify-content: space-evenly;
}
#tu{
  height: 40px;
}
#kerek{
  width: 600px;
  transition-timing-function: linear;
  transform: rotate(5deg);
  transition: transform 1s;
}

button{
  font-size: 20px;
  padding: 10px 15px;
  background-color: #ff5757;
  margin: 5px;
  border: none;
  border-radius: 5px;
}
button:hover{
  margin:0;
  padding: 15px 20px;
  background-color: #4b944e;
}
#display-p{
  font-size: 20px;
  color: lightgreen;
  text-align: center;
}
div.big-token{
  position: relative;
}
.colour-token{
  width: 150px;
  margin: 20px;
}
.token-label{
  font-size: 28px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
